$mainColor-blue: #00F;

$fontColor-gray: #777;

$buttonColor: #FFF;

$mainPadd: 70px;

$mainMargin: 20px;

$load-left: 43%;
$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";
$float: left;
